@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap');

.logo-font {
	font-family: 'Caveat', cursive;
}

html,
body {
	font-family: 'League Spartan', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
			left bottom,
			left top,
			color-stop(0.44, rgb(122, 153, 217)),
			color-stop(0.72, rgb(73, 125, 189)),
			color-stop(0.86, rgb(28, 58, 148)));
}


.card {
	width: 300px !important;
}




.circle-wrap {

	width: 150px;
	height: 150px;
	background: #d9d7da;
	border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4,
.circle-wrap .circle .fill-5,
.circle-wrap .circle .fill-6,
.circle-wrap .circle .fill-7,
.circle-wrap .circle .fill-8 {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
}

.circle-wrap .circle .mask {
	clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
	width: 124px;
	height: 124px;
	border-radius: 50%;
	background: #212020;
	line-height: 120px;
	text-align: center;
	margin-top: 13px;
	margin-left: 13px;
	color: white;
	position: absolute;
	z-index: 100;
	font-weight: 700;
	font-size: 2em;
}

.mask .fill-1 {
	clip: rect(0px, 150px, 150px, 0px);
	background-color: #00FFFF;
}

.mask.full-1,
.circle .fill-1 {
	animation: fill-1 ease-in-out 3s;
	transform: rotate(153deg);
}

@keyframes fill-1 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(153deg);
	}
}

/* 2nd bar */

.mask .fill-2 {
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #A52A2A;
}

.mask.full-2,
.circle .fill-2 {
	animation: fill-2 ease-in-out 3s;
	transform: rotate(153deg);
}

@keyframes fill-2 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(117deg);
	}
}

/* 3rd progress bar */
.mask .fill-3 {
	clip: rect(0px, 100px, 150px, 0px);
	background-color: #FF1493;
}

.mask.full-3,
.circle .fill-3 {
	animation: fill-3 ease-in-out 3s;
	transform: rotate(135deg);
}

@keyframes fill-3 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(135deg);
	}
}

/* 4rd progress bar */
.mask .fill-4 {
	clip: rect(0px, 150px, 150px, 0px);
	background-color: #F08080;
}

.mask.full-4,
.circle .fill-4 {
	animation: fill-3 ease-in-out 3s;
	transform: rotate(153deg);
}

@keyframes fill-4 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(153deg);
	}
}

/* 5rd progress bar */
.mask .fill-5 {
	clip: rect(0px, 150px, 150px, 0px);
	background-color: #008B8B;
}

.mask.full-5,
.circle .fill-5 {
	animation: fill-3 ease-in-out 3s;
	transform: rotate(180deg);
}

@keyframes fill-5 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

/* 6rd progress bar */
.mask .fill-6 {
	clip: rect(0px, 150px, 150px, 0px);
	background-color: #efaf26;
}

.mask.full-6,
.circle .fill-6 {
	animation: fill-3 ease-in-out 3s;
	transform: rotate(160deg);
}

@keyframes fill-6 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(160deg);
	}
}

/* 7rd progress bar */
.mask .fill-7 {
	clip: rect(0px, 150px, 150px, 0px);
	background-color: #df281e;
}

.mask.full-7,
.circle .fill-7 {
	animation: fill-3 ease-in-out 3s;
	transform: rotate(180deg);
}

@keyframes fill-7 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

/* 8nd bar */
.mask .fill-8 {
	clip: rect(0px, 150px, 150px, 0px);
	background-color: #14dfb3;
}

.mask.full-8,
.circle .fill-8 {
	animation: fill-8 ease-in-out 3s;
	transform: rotate(153deg);
}

@keyframes fill-8 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(153deg);
	}
}

#button-primary {
	background: linear-gradient(
		180deg,
		rgba(59, 8, 126, 0.37) 5%,
		rgba(59, 8, 126, 0.5) 100%
	  ),
	  rgba(113, 47, 255, 0.12);
	box-shadow: inset 0 0 12px #bf97ff5d;
  }